PORT=3002
GO_PORT=8085
API_URL=http://localhost:8085
API_KEY=2wtLvtb20wXePp8D9uRhm55aCjINiciO
DEFAULT_INSTANCE=minha-instancia
EVOLUTION_API_URL=

# Resend Email API
RESEND_API_KEY=re_fa8M61ZM_AReqAg43SgqTtykTqztpKz26

# Chaves de IA Recuperadas
GEMINI_API_KEY=AIzaSyANRqyco__GblMghi8cDEVNwLUOD07Zcgg
GROQ_API_KEY=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
OPENAI_API_KEY=

# Configurações do Backend Go
DEBUG_MODE=true
DEBUG_WHATSMEOW=true
DIALECT_DB=sqlite3
DB_URL=file:data.db?_foreign_keys=on
REDIS_URL=localhost:6379
REDIS_TLS=false
OLLAMA_HOST=http://localhost:11434

# ========================================
# MERCADO PAGO (inclui PIX)
# ========================================
# Desenvolvimento
MERCADOPAGO_ACCESS_TOKEN="TEST-1234567890-123456-abcdef123456-1234567890"
MERCADOPAGO_PUBLIC_KEY="TEST-abcd1234-efgh-5678-ijkl-9012mnop3456"

# Produção (comentar durante desenvolvimento)
# MERCADOPAGO_ACCESS_TOKEN="APP_USR-3064531609380417-080713-b42b2861424929260ce2e78c91be76f0-1035963718"
# MERCADOPAGO_PUBLIC_KEY="APP_USR-abcd1234-efgh-5678-ijkl-9012mnop3456"


# Configurações do Mercado Livre
ML_APP_ID=3064531609380417
ML_CLIENT_SECRET=i3kZKx0OXSEGysvpqWQ3Wwt9i4ppmXyS
ML_REDIRECT_URI=https://automacoescomerciais.com.br

# Tokens (serão atualizados automaticamente)
ML_ACCESS_TOKEN=APP_USR-3064531609380417-080713-b42b2861424929260ce2e78c91be76f0-1035963718
ML_REFRESH_TOKEN=TG-6894e949e22d8b0001b28448-1035963718
ML_TOKEN_EXPIRES_AT=1754611113408
ML_USER_ID=1035963718
